.wrapper {
  width: 90%;
  margin: 0 auto;
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  position: relative;
  overflow: hidden;
}

.title {
  margin-bottom: 55px;
}

.products__wrapper {
  display: flex;
  column-gap: 20px;
  transition: transform 0.25s ease-in-out;
  width: 100%;
}

.btn {
  margin-top: 36px;
  margin-bottom: 64px;
}

.btnRight,
.btnLeft {
  position: absolute;
  background: none;
  font-size: 40px;
  width: 3vw;
  height: 56px;
  top: 35%;
  color: #0000002b;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(3px);
  border-radius: 6px;
  z-index: 1000;
  visibility: hidden;
  transition: visibility 0.3s ease-in-out;
}

.wrapper:hover .btnRight {
  visibility: visible;
}

.wrapper:hover .btnLeft {
  visibility: visible;
}

.btnRight {
  right: 0.5%;
}

.btnLeft {
  left: 0.5%;
}

.horizontal__line {
  width: 100%;
  height: 1px;
  background-color: #0000001a;
}
