:root {
  --foreground: #171717;
  --background-gray: #f2f0f1;
  --background-gray-2: #f0f0f0;
  --text-color: #000000;
  --text-color-second: #00000099;

  --background-color: #ffffff;
  --gray: rgba(0, 0, 0, 0.6);
  --gray-light: #f0f0f0;
  --red: #ff3333;

  --border-radius: 62px;

  --padding-side: 9.43%;
  --filter: none;
}

[data-theme="dark"] {
  --background-color: #000000;
  // --background-color: #211919;
  --background-gray-2: #000000;
  --background-gray: #000000;
  --gray-light: #000000;

  --text-color: #ffffff;
  --text-color-second: #ffffff;

  --gray: #c4c4c4;

  --filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
    brightness(100%) contrast(100%);
}

// @media (prefers-color-scheme: light) {
//   :root {
//     // --background: #0a0a0a;
//     // --foreground: #ededed;
//   }
// }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  // overflow-y: hidden;
}

html,
body {
  overflow-x: hidden;
}

html {
  font-size: 16px;
  overflow-y: hidden;
}

body {
  color: var(--gray);
  background: var(--background-color);
  font-family: sans-serif;
  overflow-y: scroll;
  height: 100vh;
  width: 100%;
  max-width: 100vw;
  font-size: 1rem;
  font-family: "Satoshi";
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 12px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }
// }

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

li {
  list-style: none;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
  color: var(--text-color);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

@font-face {
  font-family: "Integral CF";
  src: url("../fonts/IntegralCF-Bold.woff2") format("woff2");
  font-weight: 700;
  line-height: 38.4px;
}

@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Regular.woff2") format("woff2");
  font-weight: 400;
  line-height: 22px;
}

@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Medium.woff2") format("woff2");
  font-weight: 500;
  line-height: 18px;
}

@font-face {
  font-family: "Satoshi";
  src: url("../fonts/Satoshi-Bold.woff2") format("woff2");
  font-weight: 700;
  line-height: 22px;
}

// @font-face {
//   font-family: "Satoshi";
//   src: url("../fonts/Satoshi-Regular.woff2") format("woff2");
//   font-weight: 400;
//   line-height: 22px;
// }

button {
  border: none;
  outline: none;
  font-weight: 500;
  cursor: pointer;
  display: inline;
}

.dark-button {
  height: 52px;
  color: var(--background-color);
  background-color: var(--text-color);
  border-radius: var(--border-radius);
  padding: 15px 67px;
}

.light-button {
  height: 52px;
  color: var(--text-color);
  background-color: var(--background-color);
  border: 1px solid var(--gray-light);
  border-radius: var(--border-radius);
  padding: 15px 67px;
  &:hover {
    background-color: rgba(240, 240, 240, 1);
  }
}

h3 {
  font-family: "Integral CF";
  font-size: clamp(32px, 4vw, 48px);
  text-transform: uppercase;
  text-align: center;
}

.default-input__wrapper,
.custom-input__wrapper {
  height: 48px;
  display: flex;
  justify-content: center;
  background-color: var(--background-color);
  border-radius: var(--border-radius);
}

.custom-input__wrapper {
  border-radius: var(--border-radius);
  img {
    margin: 0 13px 0 16px;
  }
}

.custom-input,
.default-input {
  width: 100%;
  height: 45px;
  background-color: var(--background-color);
  outline: none;
  border: none;
  border-radius: var(--border-radius);
  color: var(--text-color);
}

.custom-input {
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
}

.horizontal-line {
  width: 100%;
  height: 1px;
  background-color: #0000001a;
}

.logo {
  color: var(--text-color);
  font-family: "Integral CF";
  margin-top: -10px;
  cursor: pointer;
}

* {
  // transition: 0.25s;
}

.icon {
  filter: var(--filter);
}

@media (max-width: 848px) {
  :root {
    --padding-side: 16px;
  }
}
a {
  transition-duration: 0.25s;
}

a:hover {
  opacity: 0.5;
}
