.wrapper {
  position: relative;
  background: url(../../public/images/models.png);
  background-color: var(--background-gray);
  background-position: center;
  background-repeat: no-repeat;
  height: 663px;
  padding: 0 9.43%;
  display: flex;
  flex-direction: row;
}

.text__section {
  width: 577px;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  h3 {
    font-family: "Integral CF";
    font-size: 64px;
    color: var(--dark);
    line-height: 100%;
    margin-top: 103px;
  }
}

.image__section {
  width: 100%;
  height: 100%;
  position: relative;
  .first__star,
  .second__star {
    position: absolute;
    z-index: 10;
  }
}

.first__star {
  top: 297px;
  left: 10%;
}

.second__star {
  top: 86px;
  left: 82.62%;
  width: 104px;
}

.metrics__list {
  display: flex;
  flex-direction: row;
  column-gap: 32px;
}

.metrics__item {
  width: 200px;
  border-right: 1px solid #0000001a;
  &:last-child {
    border-right: 0;
  }
}

.metrics__value {
  color: var(--dark);
  font-size: 40px;
  font-weight: 700;
}

.partners {
  height: 122px;
  background-color: var(--dark);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 106px;
}

@media (max-width: 767px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 4.1%;
    height: 853px;
    background: var(--background-gray);
  }
  .text__section {
    row-gap: 20px;
    h3 {
      font-size: 36px;
      margin-top: 40px;
    }
    p {
      font-size: 14px;
    }
  }
  .image__section {
    background: url(../../public/images/models.jpg);
    background-position: center;
    background-size: cover;
  }
  .metrics__value {
    font-size: 24px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
}
