.wrapper {
  position: relative;
  background-color: var(--background-gray);
  background: url(../../public/images/models.png);
  height: 663px;
  padding: 100px;
}

.text__section {
  width: 577px;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  h3 {
    font-family: "Integral CF";
    font-size: 64px;
    color: var(--color-dark);
    line-height: 64px;
  }
}

.image__section {
  img {
    position: absolute;
    z-index: 10;
  }
}

.first__star {
  top: 297px;
  left: 750px;
}

.second__star {
  top: 86px;
  left: 1255px;
  width: 104px;
}

.metrics__list {
  display: flex;
  flex-direction: row;
  column-gap: 32px;
}

.metrics__item {
  width: 200px;
  border-right: 1px solid #0000001a;
  &:last-child {
    border-right: 0;
  }
}

.metrics__value {
  color: var(--color-dark);
  font-size: 40px;
  font-weight: 700;
}

.partners {
  height: 122px;
  background-color: var(--color-dark);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 106px;
}
