.header {
  display: flex;
  flex-direction: row;
  column-gap: 40px;
  padding: 24px var(--padding-side);
  align-items: center;
  justify-content: space-between;
}

.burger__menu {
  height: 24px;
  cursor: pointer;
  position: relative;
  display: none;
}

.burger__menu div {
  width: 30px;
  height: 4px;
  background-color: var(--dark);
  border-radius: 2px;
  position: absolute;
}

.burger__menu .line1 {
  top: 0;
}

.burger__menu .line2 {
  top: 50%;
  transform: translateY(-50%);
}

.burger__menu .line3 {
  bottom: 0;
}

.menu {
  font-family: "Satoshi";
  display: flex;
  flex-direction: row;
  column-gap: 24px;
  color: var(--dark);
  li {
    text-wrap: nowrap;
    cursor: pointer;
  }
}

.dropdown img {
  display: inline;
}

.search {
  position: relative;
  width: 577px;
  min-width: 212px;
  background-color: var(--background-gray);
  display: flex;
  justify-content: right;
  padding-left: 52px;
  img {
    position: absolute;
    z-index: 10;
    top: 12px;
    left: 16px;
    opacity: 0.4;
  }
  input {
    background-color: var(--background-gray);
  }
}

.menu__icons {
  display: flex;
  flex-direction: row;
  column-gap: 14px;
  cursor: pointer;
  min-width: 60px;
}

.loupe {
  display: none;
}

@media (max-width: 900px) {
  .search {
    display: none;
  }
  .loupe {
    display: block;
  }
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
  .burger__menu {
    display: block;
  }
  .header {
    padding: 4.1%;
  }
}
