.footer {
  height: auto;
  position: relative;
  margin-top: 170px;
  background-color: var(--background-gray-2);
  padding: 140px var(--padding-side) 50px;
}

.info {
  height: 177px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  margin-bottom: 50px;
}

.contactFormWrapper {
  position: absolute;
  width: 86.11%;
  min-height: 180px;
  background-color: var(--text-color);
  border-radius: 20px;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  padding: 36px 64px;
  .title {
    color: var(--background-color);
    font-family: "Integral CF";
    font-size: 2.5rem;
    line-height: 100%;
  }
  .form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-grow: 1;
    row-gap: 14px;
    div,
    button {
      width: 350px;
    }
  }
}

.mainInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h1 {
    margin-bottom: 25px;
  }
}

.description {
  font-size: 0.875rem;
}

.socials {
  display: flex;
  flex-direction: row;
  column-gap: 12px;
}

.socialWrapper {
  width: 28px;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  border-radius: 50%;
  border: 1px solid #00000033;
  &:hover {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
      brightness(100%) contrast(100%);
    opacity: 1;
  }
}

.section {
  height: auto;
  h2 {
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 26px;
  }
  ul {
    display: flex;
    flex-direction: column;
    row-gap: 19px;
  }
}

.horizontalLine {
  margin-bottom: 20px;
}

.bottomText {
  font-size: 0.875rem;
  margin-top: 5px;
}

@media (max-width: 1000px) {
  .contactFormWrapper {
    flex-direction: column;
    row-gap: 32px;
  }
  .contactFormWrapper > .form {
    justify-content: center;
    align-items: center;
  }
  .title {
    justify-content: center;
  }
  .footer {
    padding-top: 190px;
    height: auto;
  }
}

@media (max-width: 748px) {
  .form {
    row-gap: 12px;
    div,
    button {
      width: 311px;
    }
  }
  .horizontalLine {
    margin-bottom: 11px;
  }

  .info {
    height: auto;
    grid-template-columns: 1fr;
  }

  .mainInfo {
    grid-column: span 2;
    margin-bottom: 20px;
    .description {
      margin-bottom: 10px;
    }
  }
}

@media (max-width: 450px) {
  .footer {
    padding-top: 230px;
  }
  .input,
  .form button {
    width: auto;
    max-width: 280px;
  }
}
