.container {
  padding: 0 var(--padding-side);
}
.wrapper {
  width: 20vw;
  height: auto;
  background-color: var(--gray-second);
  border-radius: 12px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
